name: Docker Image CI

on:
 # push:
 #   branches: [ "main" ]
  #pull_request:
  #  branches: [ "main" ]
   workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest
    env:
     APP_DIR: app/react-app/
    defaults:
      run:
        shell: bash
        working-directory: ${{ env.APP_DIR}}

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
