name: FastAPI 
on:
    push:
        branches:
            - main
    workflow_dispatch:

jobs:
    Image_build:
        runs-on: ubuntu-latest
        
        env:
            APP_DIR: app/FastAPI/
            IMAGE_NAME: fast-api
        
        defaults:
             run:
              shell: bash
              working-directory: ${{ env.APP_DIR}}
        steps:

         - name: Code CheckOut
           uses: actions/checkout@v4
        
         - name: Set Image Tag
           run: echo "IMAGE_TAG=${GITHUB_SHA}" >> $GITHUB_ENV
         - name: DockerHub Login
           uses: docker/login-action@v3
           with:
            
            username: ${{secrets.DOCKERHUB_USERNAME}}
            password: ${{secrets.DOCKERHUB_TOKEN}}

        
         - name: building fast api image 
           run: |
            docker build -t ${{secrets.DOCKERHUB_USERNAME}}/${{ env.IMAGE_NAME}}:latest
                        -t ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }} .

         - name: Push Docker image
           run: |
            docker push ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:latest
            docker push ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
