name: FastAPI 
on:
    push:
        branches:
            - main
    workflow_dispatch:

jobs:
    Image_build:
        runs-on: ubuntu-latest
        
        env:
            APP_DIR: app/FastAPI/
        
        defaults:
             run:
              shell: bash
              working-directory: ${{ env.APP_DIR}}
        steps:

         - name: Code CheckOut
           uses: actions/checkout@v4

         - name: building fast api image 
           run: |
            docker build . --file Dockerfile --tag my-image-name:$(date +%s)


